.header{
    width: fit-content;
    height: fit-content;
    background-color: cornflowerblue;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 3px    ;
}

.title{
    font-size: x-large;
    text-align: center;
}

.tile{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    margin: 15px
}

.subtitle{
    font-size: larger;
    text-align: center;
}

body{
    width: 100%;
    height: 100%;
    background-image: url('images/koszenie-trawnikow.jpg');
    background-size: cover;
    font-family: 'Alkatra', cursive;
}

.content{
    display: grid;
    width: fit-content;
    height: 80%;
    columns: 2;
    gap: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 1;
    grid-row: 2;
}

.three {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}

.four {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
}

.contact{
    width: fit-content;
    height: fit-content;
    background-color: cornflowerblue;
    color: white;
    margin-left: auto;
    margin-right: auto;
}