.header{
    width: fit-content;
    height: fit-content;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 3px    ;
}

.title{
    font-size: x-large;
    text-align: center;
}

.tile{
    width: 400px;
    height: 400px;
    margin: 15px;
    line-height: 400px;
    text-align: center;
    color:white;
}

.subtitle{
    font-size: larger;
    text-align: center;
}

body{
    width: 100%;
    height: 100%;
    background-image: url('images/koszenie-trawnikow.jpg');
    background-size: cover;
    font-family: 'Alkatra', cursive;
    text-shadow: 1px 1px 3px black;
}

.content{
    display: flex;
    width: fit-content;
    height: 80%;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 1;
    grid-row: 2;
}

.three {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}

.four {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
}

.contact{
    width: fit-content;
    height: fit-content;
    color: white;
    margin-left: auto;
    margin-right: auto;
}